<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <package name="org.westos.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--当我们使用mapper代理方式后，在配置mappers时，就不能再用mapper.xml-->
        <!--<mapper class="org.westos.mapper.AccountMapper"/>-->
        <!--注意：当配置的mapper属性为resources时，后面是/，当mapper属性为class时，后面是.-->

        <!--当我们需要配置多个mapper时，可以使用包扫描-->
        <package name="org.westos.mapper"/>
    </mappers>
</configuration>